version: '3.8'

services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: backend_build_container
    ports:
      - "5001:4000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  frontend:
    build:
      context: ./Opalumpus_frontEnd
      dockerfile: Dockerfile
    container_name: frontend_build_container
    ports:
      - "8085:80"
    depends_on:
      - backend
    restart: unless-stopped
